# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environment
# ===============================
venv/
.env

# ===============================
# Training data & experiments
# ===============================
data/
training/
Z_rough/

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Logs
# ===============================
*.log
